<h1>Section Details</h1>
<p>Course Number: <%= @section.course.number %></p>
<p>Course Name: <%= @section.course.name %></p>
<p>Instructor: <%= @section.instructor %></p>
<p>Meeting Time: <%= @section.time %></p>

<%= link_to 'Back to Sections', sections_path %>

