<%= form_with(model: @course, local: true) do |form| %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
